body {
    /*background-image: url("indexbackgroud.png");*/
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    margin: 0px;
    /*background-color: darkgray;*/
}

html {
    background: url(indexbackgroud.png) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2em;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    margin: 8px 22px 8px 22px;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

#nav {
    text-align: justify;
    min-width: 500px;
}

#nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

#nav li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: #000;
}

li a:visited {
    text-decoration: none;
    color: #000;
}

li a:hover {
    text-decoration: none;
    color: #000;
}

li a:focus {
    text-decoration: none;
    color: #000;
}

li a:hover, .navBtn:active {
    text-decoration: none;
    color: #b30000;
}

.centered {
    position: fixed;
    top: 5%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
.boxy {
background-color: rgb(249, 246, 243);
box-sizing: border-box;
clear: both;
display: block;
font-family: "Droid Sans", arial;
height: 545.172px;
margin-bottom: 48px;
text-align: center;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
width: 870px;
-webkit-font-smoothing: antialiased;
}

#title {
    width: 700px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

#title1 {
    width: 700px;
    text-align: right;
    margin-left: 20px;
    margin-right: 20px;
}


/* .inner {
box-sizing : border-box;
display : block;
font-family : "Droid Sans", arial;
height : 545.172px;
margin-bottom : 0px;
margin-left : 0px;
margin-right : 0px;
margin-top : 0px;
max-width : 994px;
min-width : 260px;
padding-left : 22.4px;
padding-right : 22.4px;
text-align : center;
text-rendering : optimizeLegibility;
text-size-adjust : 100%;
width : 870px;
-webkit-font-smoothing : antialiased;
} */

.inner {
    box-sizing: border-box;
    display: block;
    font-family: "Droid Sans", arial;
    height: 2196px;
    min-width: 280px;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    width: 870px;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    src: url('https://font.googleapis.com/css?family=Open+Sans')
}

h1, h2, {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

em {
    font-style: normal;
    font-size: 400%;
    text-transform: uppercase;
}

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ffd9b3), color-stop(0.15, #fbd4b9), color-stop(0.3, #b3b3ff), color-stop(0.45, #b3b3ff), color-stop(0.6, #b3b3ff), color-stop(0.75, #b3b3ff), color-stop(0.9, #b3b3ff), color-stop(1, #b3b3ff));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0.1em;
}
