body {
    /*background-image: url("indexbackgroud.png");*/
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    /*background-color: darkgray;*/
}

html {
    background: url(indexbackgroud.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    display: inline;
}

.active {
    background-color: #4CAF50;
}

a {
    display: block;
    padding: 4px;
    background-color: #ffffff;


}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: -8;
}
.nav li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 300px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }




.centered {
    position: fixed;
    top: 5%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    src: url('https://font.googleapis.com/css?family=Open+Sans')
}

h1, h2, {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

em {
    font-style: normal;
    font-size: 400%;
    text-transform: uppercase;
}

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #ffd9b3), color-stop(0.15, #fbd4b9), color-stop(0.3, #b3b3ff), color-stop(0.45, #b3b3ff), color-stop(0.6, #b3b3ff), color-stop(0.75, #b3b3ff), color-stop(0.9, #b3b3ff), color-stop(1, #b3b3ff));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 0.1em;
}
